{% extends 'Users/base.html' %}
{% load custom_filters %}
{% block content %}

<div style="width:80%;" class="quiz-form">
    <form method="post">
        {% csrf_token %}
        <select class="form-select" aria-label="Default select example" name="about" id="about">
            <option ></option>
            <option >Academic</option>
            <option >Account</option>
        </select>
        <br>
        <select class="form-select" aria-label="Default select example" name="subject" disabled id="subject">
          {% for item in subject %}
                  <option value="{{ item }}">{{ item }}</option>

          {% endfor %}

        </select>

        <br>

        <div class="mb-3">
           <label for="exampleFormControlTextarea1" class="form-label">Enter you question.</label>
           <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
        </div>
           <button class="btn btn-info">Submit</button>


    </form>

 </div>

<script>

    var aboutSelect = document.getElementById("about");
var subjectSelect = document.getElementById("subject");

aboutSelect.addEventListener("change", function() {
  if (aboutSelect.value === "Academic") {
    subjectSelect.removeAttribute("disabled");
  } else {
    subjectSelect.setAttribute("disabled", "disabled");
  }
});



</script>






{% endblock %}