{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<div class="container">

    <div>
        <button class="btn btn-dark"><i class="bi bi-arrow-left" style="color:white;"> </i> </button>
    </div>
    <br>


    <h6>Finish Up.</h6>
    <p>{{ topic }}~{{ subtopic }}</p>

    <p>Make sure you have read and understood every aspect of this subtopic, please note that
        a test will be provided at the end of each subtopic.
    </p>

    <div>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-warning">Save Progress</button>
        </form>

    </div>










</div>



















{% endblock %}