{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load custom_filters %}

{% block content %}

{% if not subject %}
<h6>You do not have any progress history</h6>
{% else %}
<div class="container">
    <a href="{% url 'overall-analytics' %}" class="btn btn-warning">Analytics</a>
<div class="upcoming-classes-view">

        {% for prog in subject %}
        <div class="upcoming-classes-card">

            <a href="{% url 'syllabus' prog.subject__name %}"><h6 class="p-txt">{{ prog.subject__name }}</h6></a>
            <hr class="centered-hr">
            <br>
            <small class="p-txt">Topics covered : {{ prog.topic_count }}</small>
            <br>
            <small class="p-txt">Total topics : {{ prog.subject__topics  }}</small>
            <br><br>
            <div class="progress" style="width: 80%; margin-left: 30px;">
                <div class="progress-bar" role="progressbar" style="width: {{ prog.topic_count|divide:prog.subject__topics }}%; background-color: purple;" aria-valuenow="{{ prog.topic_count }}" aria-valuemin="0" aria-valuemax="{{ prog.subject__topics }}">{{ prog.topic_count|divide:prog.subject__topics }}%</div>
            </div>

        </div>

        {% endfor %}
    </div>

</div>











{% endif %}


{% endblock %}