{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="subject-view">

            {% for subject in user.mysubjects.name.all %}
                <a href="{% url 'read' subject.pk %}">
                    <div class="learn-card">
                        <h6>{{subject}}</h6>
                        <div class="learn-body">
                            <small class="text-muted">Chapter 2: Gases</small>
                            <br><small class="text-muted">Last View : 4 days ago</small>

                        </div>
                    </div>
                </a>
          {% endfor %}








        </div>













    </div>







{% endblock %}