{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="subject-view">

            {% for subject in user.mysubjects.name.all %}

                    <div class="learn-card">
                        <i class="bi bi-gear"> Grade 4</i>

                        <hr class="centered-hr">
                        <a href="{% url 'read' subject.name %}"><h6>{{subject}}</h6></a>
                        <div class="learn-body">
                            <small class="text-muted">Chapter 1: introduction to {{ subject }}</small>
                            <br><small class="text-muted">Last View : Never</small>
                            <div style="margin-top:60%;">
<!--                                <a href="{% url 'syllabus' subject %}"><button class="btn btn-info">Syllabus</button></a>-->
                                </div>
                            </div>
                    </div>



          {% endfor %}








        </div>













    </div>







{% endblock %}<style lang="stylus">
.href

</style>