{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Grade
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">1</a></li>
        <li><a class="dropdown-item" href="#">2</a></li>
        <li><a class="dropdown-item" href="#">3</a></li>
        <li><a class="dropdown-item" href="#">4</a></li>
      </ul>
    </div>
<br>
  <div>

    {% for coverage in syllabus %}

      <p>[+ {{ coverage.order }} +]~{{ coverage }}</p>
        <small style="padding-left:30px;">{{ coverage.subtopic }}</small>

    {% endfor %}



  </div>





{% endblock %}