{% extends 'Teacher/teachers_base.html' %}
{% load custom_filters %}
{% block content %}



<table class="table">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Progress</th>
            <th>Expiry</th>
            <th>Average</th>


          </tr>
        </thead>
        <tbody>
        {% for test in tests %}
        <tr>

            <td><a href="{% url 'class-test-analytics' test.uuid %}">{{ test.subject.name }}</a></td>

            <td>{{ test.uuid|class_test_progress }}</td>

            {% if  test.expiry|class_test_active %}
            <td style="color:crimson;">
                {{ test.expiry|date:'Y-m-d' }}
                <br>
                <small>expired</small>

            </td>
            {% else %}
            <td style="color:green;">{{ test.expiry|date:'Y-m-d' }}</td>

            {% endif %}
            <td>{{ test.uuid|class_test_average }}</td>




          </tr>
         {% endfor %}
        </tbody>
      </table>









{% endblock %}