{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="upcoming-classes-view">
            {% for test in tests %}
            <div class="upcoming-classes-card">

                <a href="{% url 'subject-analysis' test.subject__name %}">{{ test.subject__name }}</a>

                <small>{{ test.topic__count }}</small>




            </div>
            {% endfor %}


        </div>


    </div>
























{% endblock %}