{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block content %}
    <div class="container">
        <div class="upcoming-classes-view">
            {% for test in tests %}
            <div class="upcoming-classes-card">

                <a href="{% url 'subject-analysis' test.subject__name %}">{{ test.subject__name }}</a>
                <br>
                <small>Tests : {{ test.subject_count }}</small>
                <p>Total marks - {{ user|subject_analytics_marks:test.subject__name }}</p>
                <p>Overall marks - {{ user|subject_analytics_size:test.subject__name }}</p>





            </div>
            {% endfor %}


        </div>


    </div>
























{% endblock %}