{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container">
<br><br>
    <div class="login-card">
        <br>
        <div class="text-center">
            <img width="60" height="60" src="{% static 'Users/Zara.png' %}">
            <br>
            <h6 class="dashed-heading">Login</h6>
            <br>
            <small>sign in to your account ?</small>
        </div>


    <div class="form-group">
        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="name@gmail.com">
            </div>
            <br>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="**********">
            </div>


        <button class="btn btn-primary">Sign In</button>
        <br>
        <br>
            <small class="error"><a class="nav-link" href="{% url 'password-reset' %}">forgot password ? </a></small>
        </form>
   </div>
</div>
</div>
{% endblock %}