{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
          <img class="image" src="{{ user.personalprofile.pic.url }}">
  <br>


<br>
        <div class="profile" id="accordionExample">


            {% if user.personalprofile.f_name != '' %}
              <p>{{ user.personalprofile.surname }}  {{ user.personalprofile.l_name }}.  {{ user.personalprofile.f_name }} <button class="btn btn-info">{{ user.role }}</button></p>

            {% else %}
              <p>{{ user }} <button class="btn btn-info">{{ user.role }}</button></p>
            {% endif %}
        </div>

        <div class="">




<br>

  <div class="accordion" id="changePhoneNumberAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="changePhoneNumberHeader">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#changePhoneNumberCollapse" aria-expanded="true" aria-controls="changePhoneNumberCollapse">
          <small>Edit Profile</small>
        </button>
      </h2>
      <div id="changePhoneNumberCollapse" class="accordion-collapse collapse" aria-labelledby="changePhoneNumberHeader" data-bs-parent="#changePhoneNumberAccordion">
        <div class="accordion-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="">First Name</label>
              <input  name="first-name" class="form-control" value="{{ user.personalprofile.f_name }}">
            </div>
            <div class="form-group">
              <label for="last-name">Last Name</label>
              <input  name="last-name" class="form-control" value="{{ user.personalprofile.l_name }}" >
            </div>
            <div class="form-group">
              <label for="surname">Surname</label>
              <input id="surname"  name="surname" class="form-control" value="{{ user.personalprofile.surname }}" >
            </div>
            <div class="form-group">
              <label for="phone_number">Phone Number</label>
              <input type="tel" name="phone_number" class="form-control" value="{{ user.personalprofile.phone1 }}" required>
            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input  name="country" class="form-control" value="{{ user.personalprofile.country }}">
            </div>
              <div class="form-group">
              <label for="city">City</label>
              <input  name="city" class="form-control" value="{{ user.personalprofile.city }}" >
            </div>
              <div class="form-group">
              <label for="area">Area</label>
              <input  name="area" class="form-control" value="{{ user.personalprofile.area }}">
            </div>
              <br>
            <button type="submit" class="btn btn-primary">Update Profile Info</button>
          </form>
        </div>
      </div>
    </div>
  </div>










            <br>
            <br>
        </div>
  
  

    <div class="card">
      <div class="">
        <img class="image" src="{{ user.personalprofile.pic.url }}">
              <h6 class="names">{{ user.personalprofile.surname }}  {{ user.personalprofile.l_name.0 }}.  {{ user.personalprofile.f_name }}</h6>
        <h6 style="color:white;font-size:13px;">Laikipia University</h6>
        <h6 style="color:white;font-size:13px;">Grade 4</h6>


      </div>


      <div class="subjects">
        <h6>Subjects</h6>
      </div>

      <div class="subject-list">

        {% for subject in subjects %}
          {% for entry in subject.name.all %}

          <p ><i class="bi bi-prescription2"> </i>{{ entry }}</p>
          {% endfor %}
        {% endfor %}




      </div>

      <a href="{% url 'academia' %}"><button style="width:100px;margin:10px;" class="btn btn-warning">Edit</button></a>


    </div>

    
    
    


</div>


<script>
  feather.replace()
</script>
{% endblock %}