{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for subject in user.mysubjects.name.all %}
                    <li><a class="dropdown-item" href="{% url 'exam-list' subject.id %}">{{ subject }}</a></li>
                {% endfor %}
          </ul>
    </div>





{% endblock %}