{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div>
        <div class="event-view">
      {% for subject in subjects %}
        <div class="progress-card">
            <div class="p-txt">
                <h6>{{ subject.subject }}</h6>
            {% for topic in subject.topics %}
                <small>{{ topic }}</small><br>
            {% endfor %}
            </div>

            <hr class="centered-hr">
            <div class="p-txt">

                <small>Grade {{ subject.grade }}</small>
            <p>Score 12 / 15</p>
            </div>



        </div>




      {% endfor %}
        </div>






    </div>

{% endblock %}