{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load custom_filters %}
{% block content %}






<h6>Topical Test</h6>
     <table class="table">
        <thead>
          <tr>
            <th>Topic</th>
            <th>Average</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
        {% for topic in subject %}
          <tr>
              <td><a href="{% url 'exam-subject-id' subject_name topic.topic__name %}">{{ topic.topic__name}}</a></td>
<td>{{ user|topical_average:topic.topic__name }} / 15</td>
            <td>{{ user|topical_average_count:topic.topic__name }} </td>
          </tr>
        {% endfor %}
        </tbody>
     </table>


<h6>KNEC Tests</h6>
<table class="table">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Test Size</th>
            <th>Marks</th>
          </tr>
        </thead>
        <tbody>
        {% for test in tests %}
          <tr>
              <td><a href="{% url 'test-detail' test.test %}">{{ test.subject }}</a></td>
              <td>{{ test.test_size }} / 15</td>
              <td>{{ test.marks}} </td>
          </tr>
        {% endfor %}
        </tbody>
 </table>



<h6>Class Tests</h6>
<table class="table">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Test Size</th>
            <th>Marks</th>
          </tr>
        </thead>
        <tbody>
        {% for test in class_tests %}
          <tr>
              <td><a href="{% url 'test-detail' test.test %}">{{ test.test.subject }}</a></td>
              <td>{{ test.test.test_size }}</td>
            <td>{{ test.marks }} </td>
          </tr>
        {% endfor %}
        </tbody>
     </table>













{% endblock %}