{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <h6>Scores {{ marks.marks }} / 15</h6>

    {% for quiz in quizzes %}

    <div>
        {% if quiz.is_correct == False %}
            <div style="color:crimson;">
                <h6>{{ quiz.quiz.quiz }}</h6>


                 <small>{{ quiz.selection.choice }}</small><i style="font-size:30px;color:crimson;" class="bi bi-x"></i>
                <small>{{ quiz.is_correct }}</small>
            </div>

        {% else %}
            <div >
                <h6 style="color:purple;">{{ quiz.quiz.quiz }}</h6>

                 <small style="color:green;">{{ quiz.selection.choice }}</small><i style="font-size:30px;color:green;" class="bi bi-check-all"></i>
            </div>
        {% endif %}
    </div>


    {% endfor %}









{% endblock %}