.vertical-bar{
  position: absolute;
  width: 15%;
  color:white !important;
  padding-top:3%;
  padding-left:30px;
  min-width:20%;
  color:black;

  height:100%;


}
.vertical-bar a{
    color:black;
}
.main-body{
 padding-left:18%;
    padding-top:3%;
}
.card{

    background-color:rgba(0,0,.1,.9);
}


.image {
    width:100px;
    height:100px;
    margin-left:10px;
    margin-top:10px;
    border-radius:50%;
    float:left;
    display: inline-block;
    border: 3px solid aqua;
    margin-right:30px;
}

.names {

    margin-top:30px;
    color:aqua;
    left:30px;
    text-align:center;


}
.subjects h6{
    padding:17px;
    color:white
}
.subject-list{
padding-left:15px;


    display:grid;
    grid-template-columns:auto auto auto auto;
}
.subject-list p{
    color:white !important;
}
.subject-list i{
    color:aqua !important;
}