
*{

    padding: 0;
    margin: 0;
}
.login-card{
    width: 60%;
    height:500px;
    margin: 0 auto;
    box-shadow: 2px 4px 12px 3px rgba(0, 0, 0, 0.1);
    border-radius:10px;


}
.login-card form{
    padding:30px;
}
.login-card i{
    font-size:30px;
    margin: 0 auto;
    text-align:center;
    color:purple;
}
  .custom-input {
            border: none;
            box-shadow: none;

        }
.dashed-heading {
  position: relative;
  display: inline-block; /* Set display to inline-block to allow width adjustment */
  padding: 0 20px; /* Add padding to make room for dashes */
}

.dashed-heading::before,
.dashed-heading::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 3px;
  background-color: black;
  border-radius:2px;
}

.dashed-heading::before {
  left: -5px;
}

.dashed-heading::after {
  right: -5px;
}
.server-info{
    margin:0 auto;
    text-align:center;
    width:80%;
}
.zara {
    font-weight:10000 !important;
    font-size:25px !important;
    color:white !important;
    font-family:monospace;
}
#top-bar a{
    color:black;
}
#top-bar i{
    color:purple;
}
.no-style{
    text-decoration:none;
    color:black;
}
a:active {
    color: aqua;
}


.vertical-bar{
    position: fixed;
    width: 150px;

    margin: 1px ;
    color: white !important;
    padding-top: 1%;
    background-color:rgba(29, 25, 46, .8);

    color: black;
    border: 1px solid white;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 4px 20px 5px rgba(0, 0, 0, 0.1);



}
.vertical-bar .user-img{
    width: 100px;
    height:100px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.user-img img{
width:100px;
height: 100px;
border-radius:10px ;

}
.hr {
    width: 80%;
    margin: 0 auto;
    border: none;
    border-top: 3px solid white;
    margin-top:10%;

}
.vertical-bar li{
    
    padding-left: 20px;
}
.vertical-bar a{
    color:rgb(255, 253, 253);
    padding-top: 35px;
    padding-left:25px;
    
}
.vertical-bar a:hover{

    color:rgb(209, 133, 9);

}
.main-body{

    /* padding-top:50px;
    margin:40px auto; */
    position: absolute;
    width: 100%;
   



}






/* FOR HOME PAGE */
.content-container{
    background-color: #000000;
    
    width: 100%;
    height: 700px;
    position: absolute;
    top: 55px;
    
    /* top: 50px; */
}
.event-view{
    display: grid;
    grid-template-columns: repeat(3,.8fr);
  
    margin: 100px auto;
    top: 0px;
  
    height: 500px;
    grid-gap: 20px;
    width: 95%;
    
    background-color:rgba(29, 25, 46, .8);
    border-radius: 20px;




}
.event-view .event-card{
    border-radius: 5px;
    width: 95%;
    height: 250px;
    padding: 30px;
    margin: 125px auto;
    background-color:white;
   
    max-width: 400px;
    top: 30px;
    color: #000000;
      border: 2px solid linear-gradient(to right,rgb(142, 110, 255),rgb(208, 195, 255));

      box-shadow: 0px 90px 360px 110px rgba(0, 0, 0, 0.08);
  }

.event-card .card-body{
    color: rgb(0, 0, 0);
    padding: 0%;
    background-color: #f2f2f2;
}
.table-container{
    
    width: 90%;
    margin:  auto;
    top: 800px;
    position: relative;
    
    bottom: 50px;

}
.table{
    padding:30px;

}

table th{
    font-weight: lighter;
    padding-left: 20px;
    margin-top:10px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
  }
.event-card a{
    text-decoration: none;
    color: #ffffff;
}
.event-card hr{
    width: 99%;
    margin: 0 auto;
    border: none;
    border-top: 1px solid black;
    margin-top:10%;
}


.subject-list{
    display:grid;
    grid-template-columns:auto auto auto;
}

@media (min-width: 1600px) {

    .event-view{
        width: 70%;
        grid-template-columns: repeat(3,.6fr);

    }
    

    
    
    } 

  
@media (max-width: 900px) {
    .event-view{
        grid-template-columns: repeat(2,.7fr);
    }
    .event-view{
        height: fit-content;
        margin: 60px auto;
    }
    .event-card{
        margin: 15px auto !important;
    }
    

}

@media (max-width: 650px) {

  
    .quiz-form{
        margin:60px auto;
    }
    .content-container{
        height: fit-content;
        background-color:rgba(29, 25, 46, .8);

    
    }
    .event-view{
        display: inline;

        margin: 0 auto;
      
    }


    .event-card{
        width:85% !important;
        margin: 30px auto !important;

    }
    .table-container{
        position: relative;
        margin-top: 150px;
    }

/* 

}
@media (max-width: 500px) {
    .event-view{
        display:inline;
        margin: 0 auto;



        }

        .event-card{
            margin-left:8% !important;
            width:80% !important;
            margin:50px 40px  20px 10px;


        }


} */