{% extends 'Guardian/baseg.html' %}


{% block content %}



<div class="row d-flex align-items-center justify-content-center">
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">View Kids Progress</h6>
        <p class="card-text">View your kids progress and examination results</p>
          {% for kid in kids %}
          <small>{{ kid }}</small>
          <br>
          {% endfor %}
        <a href="{% url 'my-kids'  %}" class="btn" style="background-color:purple;color:white;">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">View Upcoming Events</h6>
        <p class="card-text">View all upcoming events and activities.</p>
        <small>National Exams</small><br>
        <small>National Exams</small><br>
        <small>National Exams</small><br><br>
        <a href="" class="btn" style="background-color:purple;color:white;">Learning Progress</a>
      </div>
    </div>
  </div>














{% endblock %}