{% extends 'Guardian/baseg.html' %}


{% block content %}


<br>
<div class="guardian-home-view">


   <a href="{% url 'my-kids'  %}">
    <div class="guardian-home-card">
      <h6 class="card-title">View Kids Progress</h6>
      <p class="card-text">View your kids progress and results.</p>

      <div class="guardian-card-body">
          {% if not kids %}
          <h6>You do not have any Learner on your watch list.</h6>
          <button class="btn btn-warning">Add</button>

          {% else %}
        
          {% for kid in kids %}
            <div class="mb-3">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{ kid }}">
            </div>
          {% endfor %}
          {% endif %}
      </div>
      <br>


    </div>
   </a>


    <a href="" style="">
    <div class="guardian-home-card">
        <h6 class="card-title">View Upcoming Events</h6>
        <p class="card-text">View all upcoming events.</p>
      <div class="guardian-card-body">
        
        <ul class="list-group">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          
        </ul>
      </div>


    </div>
</a>


</div>














{% endblock %}