{% extends base_html %}
{% load crispy_forms_tags %}
{% load static %}
{% load custom_filters %}
{% block content %}






{% if not subject %}
        <h6>This student has no learning history</h6>
    {% else %}
     <table class="table">
        <thead>
          <tr>
            <th>Topic</th>
            <th>Average</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
        {% for topic in subject %}
          <tr>
              <td><a href="{% url 'kid-exam-subject-id' email subject_name topic.topic__name %}">{{ topic.topic__name}}</a></td>
<td>{{ email|topical_average:topic.topic__name }} / 15</td>
            <td>{{ email|topical_average_count:topic.topic__name }} </td>
          </tr>
        {% endfor %}
        </tbody>
     </table>

{% endif %}
{% endblock %}